@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons.eot?t9qmeq');
  src:  url('../fonts/icons.eot?t9qmeq#iefix') format('embedded-opentype'),
    url('../fonts/icons.ttf?t9qmeq') format('truetype'),
    url('../fonts/icons.woff?t9qmeq') format('woff'),
    url('../fonts/icons.svg?t9qmeq#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  /* speak: never; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope:before {
  content: "\f003";
}
.icon-check:before {
  content: "\f00c";
}
.icon-map:before {
  content: "\f041";
}
.icon-phone:before {
  content: "\f095";
}
.icon-case:before {
  content: "\f0b1";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-quote-right:before {
  content: "\f10e";
}
